<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>React & Webpack</title>
</head>
<body>
<input type="hidden" name="addr_id" id="test" />
<script>

</script>
</body>
</html>
